@model IEnumerable<Timetable.DomainCore.Domain.Criteria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container">
    <h2>Критерии</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Наименование
                </th>
                <th>
                    Приоритет
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", "Criteria", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
