
@{
    ViewData["Title"] = "Index";
}


<h1><a href="/home/faculties">Расписание</a></h1>
<h1><a href="/home/criteria">Критерии</a></h1>
<h1><a href="/home/Generate">Сгенерировать расписание</a></h1>