
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="panel panel-default" style="padding:30px">
    <div class="panel-heading">Автоматическая система составления расписания</div>
    <div class="panel-body">
        <h1><a href="/home/faculties" class="btn btn-primary" role="button" style="min-width:250px">Расписание</a></h1>
        <h1><a href="/criteria/index" class="btn btn-primary" role="button" style="min-width:250px">Критерии</a></h1>
        <h1><a href="/home/Generate" class="btn btn-primary" role="button" style="min-width:250px">Сгенерировать расписание</a></h1>
    </div>
</div>